body {
  max-width: 30em;
  margin: auto;
  padding: 5%;
}

.navbar {
    background-color: #ffffff;
    border-bottom: solid;
    border-color: #000000;
    position: fixed;
    top: 0;
    width: 90vw;
    max-width: 30em;
}

.main {
    margin-top: 4em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  line-height: 1.4;
}

.alignleft {
  float: left;
  line-height: 1.55;
}

.alignright {
  float: right;
}

code {
  font-size: 1.2em;
  background-color: #EEEEEE;
}

h1 {
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #ff0000;
}

a:hover {
  text-decoration-color: hotpink;
  background-color: #ffe6f2;
}

h2 {
  font-family: 'Lato', sans-serif;
}

.unselected {
  text-decoration: none;
}
