body {
  max-width: 30em;
  margin: auto;
  padding: 5%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
}

code {
  font-size: 1.2em;
  background-color: #EEEEEE;
}

h1 {
  font-family: 'Lato', sans-serif;
  /* color: #2f4f4f; */
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
}

a:hover {
  text-decoration-color: hotpink;
  background-color: #ffe6f2;
}

h2 {
  font-family: 'Lato', sans-serif;
  /* color: #737373; */
}
