body {
  max-width: 30em;
  margin: auto;
  padding: 5%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
}

code {
  font-size: 1.2em;
  background-color: #EEEEEE;
}

h1 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
}
